*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
}
.card{
    background: rgba(165, 165, 165, 0.13);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.13);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    /* padding: 50px 35px;    */
    width: 400px;
}
.container-fluid{
    height: 100vh;
}
.twitter{
    color: white;
    background-color: aqua;
    padding: 2%;
    text-align: center;
    font-weight: 600;
}
.face{
    color: white;
    background-color: blue;
    padding: 2%;
    text-align: center;
    font-weight: 600;
    margin-top: 6px;
}
button
{
    padding: 5%;
    background: blue;
    color: white;
}